/*******************GENERAL********************/

/*css reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Set the base font size as a percentage of the browser's default font size 
  => chosen font size / browser's default * 100 = 10px / 16px * 100 = 62.5% */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.4;
  color: white;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.6;
  margin-bottom: 10rem;
  text-align: center;
}

.dark-section h2 {
  color: white;
}

.light-section h2 {
  color: black;
}

h3 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 800;
}

/*******************REUSABLE********************/

.section {
  padding: 10rem 0;
}

.dark-section {
  background-color: #8d1a1a;
}

.light-section {
  background-color: #f2e6e6;
}

.container {
  max-width: 122rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.grid {
  display: grid;
  gap: 5rem;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.btn,
.btn:visited {
  display: inline-block;
  font-size: 2.5rem;
  padding: 2rem 4rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 800;
  text-align: center;
}

.btn-light,
.btn-light:visited {
  background-color: #e6cccc;
  color: black;
  margin-right: 2rem;
}

.btn-light:hover,
.btn-light:active {
  background-color: white;
}

.btn-dark,
.btn-dark:visited {
  background-color: #b36767;
  color: #330000;
}

.btn-dark:hover,
.btn-dark:active {
  background-color: #8d1a1a;
  box-shadow: inset 0 0 0 3px #730101;
}

.card {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  overflow: hidden;
  background-color: #f2e6e6;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}

.card-info {
  padding: 2.5rem;
}

.card-characteristics {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-items: center;
}

.card-characteristic {
  font-size: 1.7rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*******************HEADER********************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8d1a1a;
  height: 18rem;
  padding: 0 2rem;
  position: relative;
}

.header-logo {
  height: 10rem;
}

.header-nav-bar {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.header-nav-item:link,
.header-nav-item:visited {
  display: inline-block;
  text-decoration: none;
  color: #e6cccc;
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.2s;
}

.header-nav-item:hover,
.header-nav-item:active {
  color: white;
}

/*Mobile Navigation*/

header .btn-mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

header .icon-mobile {
  height: 5rem;
  width: 5rem;
  color: #e6cccc;
}

header .icon-mobile[name="close"] {
  display: none;
}

/*******************INTRO SECTION********************/

.intro-section {
  background-color: #8d1a1a;
  padding: 1rem 0 10rem 0;
}

.intro-container {
  align-items: center;
}

.intro-section h1 span {
  font-size: 5.5rem;
  font-weight: 1200;
  text-transform: uppercase;
}

.intro-img-container img {
  width: 100%;
}

/*******************TESTIMONIALS SECTION********************/
#testimonials-section .card {
  padding: 5rem 2rem 2rem;
}

#testimonials-section img {
  width: 12rem;
  float: left;
  margin-right: 2rem;
  position: relative;
  bottom: 1rem;
}

#testimonials-section blockquote:before {
  color: #b36767;
  content: open-quote;
  font-size: 10rem;
  line-height: 1rem;
  margin-right: 0.5rem;
  vertical-align: -3rem;
}

#testimonials-section blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  color: rgb(105, 102, 102);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

#testimonials-section blockquote:after {
  content: no-close-quote;
}

#testimonials-section cite {
  line-height: 1.4;
  font-size: 1.5rem;
  color: #8d1a1a;
  font-weight: 600;
  float: right;
}
/*******************FACILITIES SECTION********************/

#facilities-section .card:hover {
  transform: scale(1.1);
}

#facilities-section img {
  width: 100%;
  height: 45%;
}

#facilities-section h3 {
  background-color: #b36767;
  padding: 1rem;
}

#facilities-section .card-icon {
  height: 2rem;
  width: 2rem;
}

/*******************CLASSES SECTION********************/
#classes-section table {
  width: 100%;
  border-collapse: collapse;
}

#classes-section tr:nth-of-type(odd) {
  background: #f2e6e6;
}

#classes-section tr:nth-of-type(even) {
  background-color: #b36767;
}

#classes-section th {
  background: #8d1a1a;
  color: white;
  font-weight: 800;
}

#classes-section td,
#classes-section th {
  padding: 1rem;
  border: 0.1rem solid black;
  text-align: center;
  font-size: 1.5rem;
}

/*******************MEMBERSHIPS SECTION********************/

#memberships-section h3 {
  margin-top: 2rem;
  padding: 2.5rem 0 1rem 0;
}

#memberships-section p {
  color: #8d1a1a;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}

#memberships-section p span {
  color: rgb(105, 102, 102);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

#memberships-section .card:hover {
  transform: translateY(-2rem);
}

#memberships-section .card-info {
  margin-bottom: 2rem;
}

#memberships-section .card-characteristics {
  margin-bottom: 4rem;
}

#memberships-section .card-icon {
  height: 3rem;
  width: 3rem;
}

#memberships-section .card-icon[name="checkmark-sharp"] {
  color: green;
}

#memberships-section .card-icon[name="close"] {
  color: #8d1a1a;
}

#memberships-section .btn {
  width: 100%;
}

/*******************BOOK A TOUR SECTION********************/
#tour-section .card {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#tour-section .card-info {
  padding: 3rem 5rem 0;
}

#tour-section h2 {
  margin-bottom: 3rem;
  text-align: left;
}

/*Naming grid areas to be used in the grid template areas of the form*/
.first-name {
  grid-area: first-name;
}
.last-name {
  grid-area: last-name;
}
.email {
  grid-area: email;
}
.mobile-number {
  grid-area: mobile-number;
}
.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.cta {
  grid-area: cta;
}
/*******************/

.tour-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "first-name last-name"
    "email mobile-number"
    "date  time"
    "cta cta";
  column-gap: 4rem;
  row-gap: 3rem;
}

.tour-form label {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.tour-form input,
.tour-form select {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.75rem;
  font-family: inherit;
  border: none;
  background-color: white;
  border-radius: 10px;
}

.tour-form input::placeholder {
  color: grey;
}

#tour-section .btn {
  margin-top: 1rem;
  border: none;
}

#tour-section img {
  width: 100%;
}

/*******************FOOTER SECTION********************/

footer {
  background-color: #b36767;
  text-align: center;
  height: 10rem;
}

footer .icons {
  padding: 2rem 0;
}

footer ion-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

footer ion-icon:last-child {
  margin-right: 0;
}

footer p {
  color: white;
  font-size: 1.5rem;
}

/*******************MEDIA QUERIES********************/

/*******************/
/*<1280 px*/
/*******************/
@media (max-width: 80em) {
  html {
    font-size: 56.25%;
  }
  h1,
  h1 span {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  .grid {
    gap: 4rem;
  }
  .header-nav-bar {
    padding: 3.2rem;
  }
}

/*******************/
/*<1056 px */
/*******************/
@media (max-width: 66em) {
  html {
    font-size: 50%;
  }
  .intro-section .grid {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .intro-heading-container,
  .intro-img-container {
    text-align: center;
    padding: 0 10rem;
  }
  .intro-img-container img {
    width: 80%;
  }
  #memberships-section .card-info {
    padding: 1.75rem;
  }
  #memberships-section .card-icon {
    height: 2rem;
    width: 2rem;
  }
  #tour-section .card {
    grid-template-columns: 1fr;
  }
  #tour-section .card-info {
    padding-bottom: 3rem;
  }
  #tour-section img {
    display: none;
  }
}

/*******************/
/*<880 px */
/*******************/
@media (max-width: 55em) {
  .section {
    padding: 5rem 0;
  }
  h2 {
    margin-bottom: 5rem;
    font-size: 2.56rem;
  }
  .btn {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  header {
    padding: 0 4rem;
  }
  .intro-heading-container,
  .intro-img-container {
    padding: 0 5rem;
  }
  .intro-img-container img {
    width: 70%;
  }
  #testimonials-section .container {
    padding: 0 15rem;
  }
  #testimonials-section .grid {
    grid-template-columns: 1fr;
  }
  #testimonials-section blockquote {
    font-size: 2rem;
    line-height: 1.5;
  }

  #facilities-section .card-characteristics,
  #facilities-section .card-characteristic {
    gap: 0.5rem;
  }

  #facilities-section .card-info {
    padding: 0.5rem;
  }
  #facilities-section h3 {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  #facilities-section .card-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  #facilities-section span {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  #memberships-section .container {
    padding: 0 7.5rem;
  }
  #memberships-section .grid {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  #memberships-section .last-card {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }
  #memberships-section .card-icon {
    height: 4rem;
    width: 4rem;
  }

  /*Mobile Navigation*/
  header .btn-mobile {
    display: block;
  }

  nav {
    background-color: #8d1a1a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    /*Hide and disable the navigation in a way that allows transition effects to be applied when open-nav class is applied*/
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .header-nav-bar {
    flex-direction: column;
    gap: 5rem;
  }

  .header-nav-item:link,
  .header-nav-item:visited {
    font-size: 2.5rem;
  }

  /*Show and enable the navigation when open-nav class is applied*/
  .open-nav nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  /*Show the close icon when open-nav class is applied*/
  .open-nav .icon-mobile[name="close"] {
    display: block;
  }
  /*Hide the menu icon when open-nav class is applied*/
  .open-nav .icon-mobile[name="menu"] {
    display: none;
  }
}

/*******************/
/*<592 px */
/*******************/
@media (max-width: 37em) {
  h1 {
    font-size: 3rem;
  }
  .intro-heading-container,
  .intro-img-container {
    padding: 0 3rem;
  }
  .intro-section .grid {
    gap: 1rem;
  }
  .intro-section .btn {
    display: block;
    width: 50%;
    margin: 0 auto 2rem;
    min-width: 20rem;
  }
  #testimonials-section .container {
    padding: 0 5rem;
  }
  #facilities-section .container {
    padding: 0 4rem;
  }
  #facilities-section .grid {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  /*Adjust the behavior and look of the table to display nicely
  in smaller devices*/
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #classes-section td {
    border: none;
    border-bottom: 0.1rem solid black;
    position: relative;
    padding-left: 50%;
  }
  #classes-section td:last-child {
    border: none;
  }
  td:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 40%;
  }
  td:nth-of-type(1):before {
    content: "Date";
  }
  td:nth-of-type(2):before {
    content: "Start Time";
  }
  td:nth-of-type(3):before {
    content: "Duration";
  }
  td:nth-of-type(4):before {
    content: "Area";
  }
  td:nth-of-type(5):before {
    content: "Instructor";
  }
  td:nth-of-type(6):before {
    content: "Activity";
  }

  #memberships-section .container {
    padding: 0 4rem;
  }
  #memberships-section .grid {
    grid-template-columns: 1fr;
  }
  #memberships-section .card-icon {
    height: 3rem;
    width: 3rem;
  }
  #memberships-section .last-card {
    width: 100%;
  }
  #tour-section h2 {
    font-size: 1.75rem;
  }
  .tour-form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "first-name"
      "last-name"
      "email"
      "mobile-number"
      "date"
      "time"
      "cta";
    row-gap: 2rem;
  }
  .tour-form label {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .tour-form input,
  .tour-form select {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .tour-form input::placeholder {
    padding: 0.5rem;
  }
}
